{% extends "template.html" %}
{% block content %}
{% for alarm in alarms %}
<div class="panel panel-default" style='margin:10px'>
    <div class="panel-heading">
        <b>{{ alarm.alarm.description }}</b>
    </div>
    <table class="table">
        <tr>
            <td><b>Zeit:</b></td>
            <td width="100%">
                {% if alarm.alarm.hours < 10 %}0{% endif %}{{ alarm.alarm.hours }}:{% if alarm.alarm.minutes < 10 %}0{% endif %}{{alarm.alarm.minutes }}
                <br>
                {% if alarm.alarm.monday %}<span class="label label-primary">mo</span>{% endif %}
                {% if alarm.alarm.tuesday %}<span class="label label-primary">di</span>{% endif %}
                {% if alarm.alarm.wednesday %}<span class="label label-primary">mi</span>{% endif %}
                {% if alarm.alarm.thursday %}<span class="label label-primary">do</span>{% endif %}
                {% if alarm.alarm.frieday %}<span class="label label-primary">fr</span>{% endif %}
                {% if alarm.alarm.saturday %}<span class="label label-primary">sa</span>{% endif %}
                {% if alarm.alarm.sunday %}<span class="label label-primary">so</span>{% endif %}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <b>Aktionen:</b>
                <table class="table">
                    {% for action in alarm.actions %}
                    <tr>
                        <td>
                            {% if action.active %}
                            <span class="label label-success">on</span>
                            {% elif not action.active %}
                            <span class="label label-danger">off</span>
                            {% endif %}
                        </td>
                        <td width="100%">{{ action.device.name }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
    </table>
    <div class="panel-footer">
        <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-pause" aria-hidden="true"></span> deaktivieren
        </button>
        <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> bearbeiten

        </button>
        <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> löschen
        </button>
    </div>
</div>
{% empty %}
    <li>Sorry, no alarms in this list.</li>
{% endfor %}

{% endblock %}