{% extends "template.html" %}
{% block content %}
{% if do_send %}
{% if not result|length == 0 %}
{% for sender in result %}
<div class="alert alert-danger alert-dismissible" role="alert"><b>{{ sender }}</b> konnte nicht erreicht werden</div>
{% endfor %}
{% endif %}
{% endif %}
<ul class="nav nav-tabs">
    <li role="presentation"
        class="{% if active == "all" %}active{% endif %}">
        <a href="{% url 'index' %}">Alle</a>
    </li>
    {% for room in room_list %}
    <li role="presentation"
        class="{% if active == room.pk|lower %}active{% endif %}">
        <a href="{% url 'index' %}?room={{ room.pk }}">{{ room.name }}</a>
    </li>
    {% endfor %}
</ul>
<table class="table">

    {% for device in device_list %}
    <tr>
        <td>
            <form action="{% url 'index' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="device_pk" value="{{ device.pk }}"></input>

                <div class="btn-group" role="group" aria-label="...">
                    <input type="submit" class="btn btn-default btn-success" name="switch" value="on"></input>
                    <input type="submit" class="btn btn-default btn-danger" name="switch" value="off"></input>
                </div>
            </form>
        </td>
        <td>{{ device.name }}<br><small>({{ device.room.name }})</small></td>
    </tr>
    {% endfor %}

    <tr>
        <td>
            <form action="{% url 'index' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="switch_all" value="True"></input>
                <input type="hidden" name="room" value="{{ active }}"></input>

                <div class="btn-group" role="group" aria-label="...">
                    <input type="submit" class="btn btn-default btn-success" name="switch" value="on"></input>
                    <input type="submit" class="btn btn-default btn-danger" name="switch" value="off"></input>
                </div>
            </form>
        </td>
        <td>Alle Ger&auml;te<br><small>({% if active == "all" %}alle R&auml;me{% else %}{{ active_name }}{% endif %})</small></td>
    </tr>
</table>

{% endblock %}