{% extends "template.html" %}
{% block content %}
{% if do_send %}
{% if sending_result %}
<div class="alert alert-success alert-dismissible" role="alert">Success!!</div>
{% elif not sending_result %}
<div class="alert alert-danger alert-dismissible" role="alert">Error!! Could not send! Is the receivers daemon
    running?
</div>
{% endif %}
{% endif %}
<form class="navbar-form navbar-left" action="{% url 'send_manuell' %}" method="GET">
    <div class="form-group">
        <input type="text" class="form-control" name="systemcode" placeholder="Systemcode">
        <select name="device_number" size="1">
            <option value="01">A</option>
            <option value="02">B</option>
            <option value="03">C</option>
            <option value="04">D</option>
            <option value="05">E</option>
        </select>
        <select name="sender" size="1">
            {% for sender in senders %}
            <option value="{{ sender.pk }}">{{ sender.name }}</option>
            {% endfor %}
        </select>
        <select name="switch" size="1">
            <option value="1">on</option>
            <option value="0">off</option>
        </select>
    </div>
    <button type="submit" class="btn btn-default">Senden</button>
</form>
{% endblock %}