{% extends "template.html" %}
{% block content %}
<h3>Status der Sendeger&auml;te</h3>
<br>
<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>IP</th>
        <th>Port</th>
        <th>Status</th>
    </tr>
    {% for sender in senders %}
    <tr>
        <td>{{ sender.name }}</td>
        <td>{{ sender.ip }}</td>
        <td>{{ sender.port }}</td>
        <td>
            {% if sender.status %}
            <span class="label label-success">online</span>
            {% elif not sender.status %}
            <span class="label label-danger">offline</span>
            {% endif %}
        </td>
    </tr>
    {% empty %}
    <li>Sorry, no senders in this list.</li>
    {% endfor %}
</table>
{% endblock %}