<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
{% autoescape on %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">schneemote 2.0</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="{% if device_list %}active{% endif %}">
                    <a href="{% url 'index' %}">Steckdosen schalten<span class="sr-only">(current)</span></a>
                </li>
                <li class="{% if alarms %}active{% endif %}"><a href="{% url 'alarm_table' %}">Wecker</a></li>
                <li><a href=""><s>Einbrecherschutz</s></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Verwalten <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Steckdosen</a></li>
                        <li><a href="#">R&auml;me</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Benutzer</a></li>
                        <li><a href="#">Gruppen</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#"> 433Mhz Sendeger&auml;te</a></li>
                    </ul>
                </li>
                <li class="dropdown {% if debugging %}active{% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Debugging <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'senders_table' %}">Status der Sendeger&auml;te</a></li>
                        <li><a href="{% url 'send_manuell' %}">Signal manuell senden</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'admin:index' %}">Django Admin</a></li>
            </ul>
        </div>
    </div>
</nav>

{% block content %}{% endblock %}


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
<script src="http://getbootstrap.com/assets/js/docs.min.js"></script>
{% endautoescape %}
</body>
</html>